.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
      .posts {
          text-decoration: none;
      }
}

@media only screen and (max-width: 768px) {
    .posts{
        text-decoration: none;
    }
}